
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Dépendances
node_modules/

# Builds / caches
dist/
build/
.cache/
vendor/

# Uploads
public/uploads/
public/uploads/gpx/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/