<form method="post" action="{{ path('app_trail_delete', {'id': trail.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trail.id) }}">
    <button class="trail__delete">Supprimer l'itinéraire</button>
</form>
