{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel itinéraire{% endblock %}

{% block body %}
<section class="add-trail">
    <h1 class="add-trail__title">Créer un nouvel itinéraire</h1>

    {{ include('trail/_form.html.twig') }}

    <a class="add-trail__back" href="{{ path('app_trail_index') }}">Retour</a>
</section>
{% endblock %}
