@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

body {
    background: var(--background);
    color: var(--text);
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1,
h2 {
    color: var(--title);
}

h1 {
    font-size: $size-32;
    text-align: center;
}

h2 {
    font-size: $size-24;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--text);
}

@media (min-width: $md) {
    h1 {
        font-size: $size-40;
    }

    h2 {
        font-size: $size-32;
    }
}
