.hidden {
    display: none;
}

.selected {
    color: var(--title);
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}
