@use "../utils/variables" as *;

// Mixin button
@mixin button(
    $bg-color,
    $bg-color-hover,
    $text-color,
    $padding: $size-6 $size-10,
    $radius: $size-8
) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $size-10;
    padding: $padding;
    margin: 0;
    background-color: $bg-color;
    color: $text-color;
    border: 0;
    border-radius: $radius;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, filter 0.2s ease;

    &:hover {
        background-color: $bg-color-hover;
    }
}

// Mixin formulaires

@mixin form-input($border-color, $bg-color, $padding: $size-10) {
    display: block;
    width: 100%;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: $size-6;
    background-color: $bg-color;
}

@mixin form-multiselect($border-color, $bg-color, $padding: $size-10) {
    display: block;
    width: 100%;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: $size-6;
    background-color: $bg-color;
    height: auto;
}

@mixin form-checkbox($size, $accent, $bg, $border-color) {
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // -o-appearance: none;
    width: $size;
    height: $size;
    accent-color: $accent;
    background-color: $bg;
    outline: 1px solid $border-color;
    cursor: pointer;
}

@mixin form-label($color) {
    display: block;
    margin-bottom: $size-6;
    margin-top: $size-10;
    color: $color;
}

@mixin form-error($color-error, $margin-top: $size-4) {
    color: $color-error;
    margin-top: $margin-top;
}

// Mixin cards

@mixin card($width) {
    width: $width;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $size-10;
    box-shadow: 0 5px 8px $color-gray-175;
}

// Mixin link back

@mixin back() {
    font-weight: 600;
    color: var(--accent);
    text-align: center;
    padding: $size-10 $size-20;
    background: var(--background);
    border-radius: $size-10;
    box-shadow: 0 5px 8px $color-gray-175;
}

// Mixin Dog photos

@mixin photo {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

@mixin photoMale {
    border: $size-8 solid var(--title);
    color: var(--title);
    border-radius: 50%;
    padding: $size-8;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin photoFemale {
    border: $size-8 solid var(--title-secondary);
    color: var(--title-secondary);
    border-radius: 50%;
    padding: $size-8;
    display: flex;
    justify-content: center;
    align-items: center;
}
