@use "../utils/variables" as *;

// Mixin button
@mixin button(
    $bg-color,
    $bg-color-hover,
    $text-color,
    $padding: $size-6 $size-10,
    $radius: $size-8
) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $size-10;
    padding: $padding;
    background-color: $bg-color;
    color: $text-color;
    border: 0;
    border-radius: $radius;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, filter 0.2s ease;

    &:hover {
        background-color: $bg-color-hover;
    }
}

// Mixin formulaires

@mixin form-input($border-color, $bg-color, $padding: $size-10) {
    display: block;
    width: 100%;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: $size-6;
    background-color: $bg-color;
}

@mixin form-checkbox($size, $accent, $bg, $border-color) {
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // -o-appearance: none;
    width: $size;
    height: $size;
    accent-color: $accent;
    background-color: $bg;
    outline: 1px solid $border-color;
    cursor: pointer;
}

@mixin form-label($color) {
    display: block;
    margin-bottom: $size-6;
    margin-top: $size-10;
    color: $color;
}

@mixin form-error($color-error, $margin-top: $size-4) {
    color: $color-error;
    margin-top: $margin-top;
}
