@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

// Mixin button
@mixin button(
    $bg-color,
    $bg-color-hover,
    $text-color,
    $padding: $size-6 $size-10,
    $radius: $size-8
) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $size-10;
    padding: $padding;
    margin: 0;
    background-color: $bg-color;
    color: $text-color;
    border: 0;
    border-radius: $radius;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, filter 0.2s ease;

    &:hover {
        background-color: var(--background-button-hover);
        color: var(--background);
    }

    @media (min-width: $lg) {
        padding: $size-8 $size-20;
    }
}

@mixin delete-button($color) {
    border: none;
    background: none;
    color: $color;
    cursor: pointer;
}

// Mixin formulaires

@mixin form-input($border-color, $bg-color, $padding: $size-10) {
    display: block;
    width: 100%;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: $size-6;
    background-color: $bg-color;
}

@mixin form-multiselect($border-color, $bg-color, $padding: $size-10) {
    display: block;
    width: 100%;
    padding: $padding;
    border: 1px solid $border-color;
    border-radius: $size-6;
    background-color: $bg-color;
    height: auto;
}

@mixin form-checkbox($size, $accent, $bg, $border-color) {
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // -o-appearance: none;
    width: $size;
    height: $size;
    accent-color: $accent;
    background-color: $bg;
    outline: 1px solid $border-color;
    cursor: pointer;
}

@mixin form-label($color, $width) {
    display: block;
    margin-bottom: $size-6;
    margin-top: $size-10;
    color: $color;
    width: $width;
}

@mixin form-error($color-error, $margin-top: $size-4) {
    color: $color-error;
    margin-top: $margin-top;
}

// Mixin cards

@mixin card($width, $direction, $justify, $gap) {
    width: $width;
    background: var(--background-tertiary);
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
    border-radius: $size-10;
    box-shadow: 0 5px 8px $color-gray-175;
    gap: $gap;
}

@mixin card-photo {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-radius: $size-10;
    color: var(--title-secondary);
}

@mixin card-desc($width, $direction, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: flex-start;
    width: $width;
    gap: $gap;
}

@mixin card-item($gap) {
    display: flex;
    gap: $gap;
}

// Mixin link back

@mixin back() {
    font-weight: 600;
    color: var(--accent);
    text-align: center;
    padding: $size-10 $size-20;
    background: var(--background);
    border-radius: $size-10;
    box-shadow: 0 5px 8px $color-gray-175;
    align-self: center;
}

// Mixin Dog photos

@mixin photo {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: $size-8;
    object-fit: cover;
}

@mixin photoMale {
    border: $size-8 solid var(--title);
    color: var(--title);
}

@mixin photoFemale {
    border: $size-8 solid var(--title-secondary);
    color: var(--title-secondary);
}

// Mixin infos
@mixin infos-main($gap: $size-10) {
    background: var(--background-secondary);
    border-radius: $size-10;
    padding: $size-20 $size-10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
    @media (min-width: $md) {
        padding: $size-30;
    }
}

@mixin infos-desc {
    background: var(--background-tertiary);
    padding: $size-20 $size-10;
    display: flex;
    flex-direction: column;
    gap: $size-30;
    border-radius: $size-10;

    @media (min-width: $md) {
        padding: $size-30;
    }
}

@mixin infos-item {
    display: flex;
    flex-direction: column;
    gap: $size-10;
    width: 100%;
}

@mixin infos-subtitle {
    color: var(--accent);
    font-weight: 600;
}

// Mixin icons

@mixin icon($iconColor, $size) {
    color: $iconColor;
    width: $size;
    border: none;
    background: none;
}

// Mixin Actions

@mixin actions-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
