// Couleurs principales
$color-primary: #505050;
$color-primary-eco: #e6e6e6;
$color-secondary: #2ab7ca;
$color-secondary-eco: #81dbe3;
$color-secondary-intense-eco: #0ee2ff;
$color-secondary-dark-eco: #4b6b6d;
$color-accent: #f6aa1c;
$color-accent-eco: #ebb548;
$color-score: #ffe100;
$color-error: rgb(197, 18, 18);
$color-female: rgb(251, 116, 179);
$color-male: rgb(54, 154, 255);

// Couleurs neutres
$color-white: #ffffff;
$color-black: #000000;
$color-gray-100: #f6f6f6;
$color-gray-150: #f7f7f7;
$color-gray-175: #eeeeee;
$color-gray-200: #b8b8b8;
$color-gray-300: #838383;
$color-gray-500: #5f5f5f;
$color-gray-600: #505050;
$color-gray-700: #444444;
$color-gray-800: #242424;
$color-gray-900: #151515;

// Échelle size (4px → 40px) — le suffixe = px
$size-4: 0.25rem; // 4px
$size-6: 0.375rem; // 6px
$size-8: 0.5rem; // 8px
$size-10: 0.625rem; // 10px
$size-12: 0.75rem; // 12px
$size-14: 0.875rem; // 14px
$size-16: 1rem; // 16px
$size-18: 1.125rem; // 18px
$size-20: 1.25rem; // 20px
$size-22: 1.375rem; // 22px
$size-24: 1.5rem; // 24px
$size-26: 1.625rem; // 26px
$size-28: 1.75rem; // 28px
$size-30: 1.875rem; // 30px
$size-32: 2rem; // 32px
$size-34: 2.125rem; // 34px
$size-36: 2.25rem; // 36px
$size-38: 2.375rem; // 38px
$size-40: 2.5rem; // 40px
