@use "../utils/mixins" as *;

.cta__button,
.register__form-submit,
.login__form-submit,
.home-user__walk-button,
.home-user__dog-button {
    @include button(
        var(--background-button),
        var(--background-button-hover),
        var(--text-button)
    );
}
