@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.home-user {
    &__walk--card {
        @include card(100%, row, flex-start, 0);
        padding: $size-10;

        .home-user__walk-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $size-10;
        }

        .home-user__walk-accent {
            color: $color-accent;
            font-weight: 600;
        }
    }

    &__dog--card {
        @include card(85%, column, space-between, $size-20);
        padding: $size-20 $size-30;
    }

    &__trail-card {
        @include card(100%, column, flex-start, $size-30);

        align-items: center;
        padding: $size-20 $size-10;
    }

    &__trail-photo {
        @include card-photo;
    }

    &__trail-description {
        @include card-desc(80%, column, $size-10);

        align-items: flex-start;
    }

    &__trail-item {
        @include card-item($size-10);
    }

    &__trail-icon {
        color: var(--accent);
        width: $size-22;
    }

    &__trail-content {
        display: flex;
    }

    &__trail-score {
        color: rgb(255, 213, 0);
        width: $size-20;
    }
}

.next-walks__card,
.profile__walks-card {
    @include card(100%, row, space-between, $size-10);
    padding: $size-10;
}

.profile {
    &__trail {
        &-card {
            @include card(100%, column, flex-start, $size-30);
            padding: $size-10;
        }

        &-photo {
            @include card-photo;
        }

        &-description {
            @include card-desc(80%, column, $size-10);
        }

        &-item {
            @include card-item($size-10);
        }
    }
    &__walks {
        &-card {
            @include card(100%, row, space-around, $size-10);
            padding: $size-10;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        &-wrapper:nth-child(1) {
            width: 30%;
        }
        &-wrapper:nth-child(2) {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: $size-16;

            .profile__walks-content:nth-child(1) {
                color: var(--title);
                font-weight: 600;
            }
        }

        &-link {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    &__dog {
        &-card {
            @include card(100%, column, space-around, $size-10);
            padding: $size-10;
        }

        &-wrapper {
            @include actions-wrapper;
        }
    }
}
