@use "../utils/variables" as *;

.home-user__walk--card {
    width: 100%;
    padding: $size-10;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $size-10;
    box-shadow: 0 5px 8px $color-gray-175;

    .home-user__walk-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $size-10;
    }

    .home-user__walk-accent {
        color: $color-accent;
        font-weight: 600;
    }
}

.home-user__dog--card {
    width: 70%;
    padding: $size-20 $size-30;
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $size-20;
    align-items: center;
    border-radius: $size-10;
    box-shadow: 0 5px 8px $color-gray-175;
}
