@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.home-user {
    &__walk--card {
        @include card(100%);
        padding: $size-10;

        .home-user__walk-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $size-10;
        }

        .home-user__walk-accent {
            color: $color-accent;
            font-weight: 600;
        }
    }

    &__dog--card {
        @include card(70%);
        padding: $size-20 $size-30;
        flex-direction: column;
        justify-content: space-between;
        gap: $size-20;
    }

    &__trail-card {
        @include card(100%);
        flex-direction: column;
        padding: $size-20 $size-10;
        gap: $size-30;
    }

    &__trail-photo {
        width: 100%;
        max-height: 50%;
        border-radius: $size-10;
        color: $color-secondary;
    }

    &__trail-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        gap: $size-10;
    }

    &__trail-item {
        display: flex;
        gap: $size-10;
    }
    &__trail-icon {
        color: $color-accent;
        width: $size-22;
    }

    &__trail-content {
        display: flex;
    }

    &__trail-score {
        color: rgb(255, 213, 0);
        width: $size-20;
    }
}
