@use "../utils/variables" as *;

.flash {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__notice {
        padding: $size-10 $size-20;
        border-radius: $size-10;
        border: solid 2px var(--notice);
        background-color: var(--notice-bg);
        color: var(--notice);
    }
    &__success {
        padding: $size-10 $size-20;
        border-radius: $size-10;
        border: solid 2px var(--success);
        background-color: var(--success-bg);
        color: var(--success);
    }
    &__warning {
        padding: $size-10 $size-20;
        border-radius: $size-10;
        border: solid 2px var(--warning);
        background-color: var(--warning-bg);
        color: var(--warning);
    }
}
