@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.register__form-item,
.login__form-item,
.add-dog__item,
.add-trail__form-item {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: $size-20 0 $size-10 0;
    gap: $size-10;
}

.home-user__trail-search--advanced-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $size-10 0;
}

.register__form-input,
.login__form-input,
.home-user__trail--search-input,
.add-dog__form-input {
    @include form-input(var(--border-color), var(--background-input));
    width: auto;
}

.add-trail__form-input {
    @include form-input(var(--border-color), var(--background-input));
    width: 100%;
}

#dog_birth_date_day,
#dog_birth_date_month,
#dog_birth_date_year {
    @include form-input(
        var(--border-color),
        var(--background-input),
        $padding: $size-6
    );
    width: auto;
}

.register__form-checkbox {
    @include form-checkbox(
        $size-20,
        $color-secondary,
        var(--background-input),
        var(--border-color)
    );
}

.register__form-label,
.login__form-label,
.home-user__trail--search-label,
.add-dog__form-label {
    @include form-label(var(--text));
    width: 45%;
}

.add-trail__form-label {
    @include form-label(var(--text));
    width: 100%;
    font-weight: 600;
}

.register__form-error,
.login__form-error,
.home-user__trail-search--advanced-error,
.add-dog__form-error,
.add-trail__form_error {
    @include form-error($color-error);
}

.walk-register__desc-select {
    @include form-multiselect(var(--border-color), var(--background-input));
}

.add-trail__form-input-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: $size-4;
}

.add-trail__form-input-select > :nth-child(odd) {
    width: 5%;
    margin-top: $size-6;
}
.add-trail__form-input-select > :nth-child(even) {
    width: 40%;
}

.add-dog__form-dateselect {
    display: flex;
    gap: $size-4;
}

.add-dog__form-input-autocomplete {
    .ts-control {
        @include form-input(var(--border-color), var(--background-input));
        min-height: $size-40;
        padding: $size-8 $size-10;
        border-radius: $size-6;
        box-shadow: none;

        input {
            font: inherit;
            color: var(--text);
            background: transparent;
        }
    }
    &.focus .ts-control,
    &.open .ts-control {
        border-color: $color-secondary;
        outline: 0;
    }

    .ts-dropdown {
        border: 1px solid var(--border-color);
        background: var(--background);
        border-radius: $size-6;
        margin-top: $size-4;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    }

    .ts-dropdown .option {
        padding: $size-8 $size-10;
        color: var(--text);
        cursor: pointer;
    }

    .ts-dropdown .option.active {
        background: $color-secondary;
        color: #fff;
    }

    &.is-invalid .ts-control {
        border-color: $color-error;
    }
}
