@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.register__form-item,
.login__form-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: $size-10 0;
    gap: $size-4;
}

.home-user__trail-search--advanced-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $size-10 0;
    // gap: $size-2;
}

.register__form-input,
.login__form-input,
.home-user__trail--search-input {
    @include form-input(var(--border-color), var(--background-input));
    width: auto;
}

.register__form-checkbox {
    @include form-checkbox(
        $size-20,
        $color-secondary,
        var(--background-input),
        var(--border-color)
    );
}

.register__form-label,
.login__form-label,
.home-user__trail--search-label {
    @include form-label(var(--text));
    width: 35%;
}

.register__form-error,
.login__form-error,
.home-user__trail-search--advanced-error {
    @include form-error($color-error);
}
