@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

.profile__icon {
    @include icon(var(--title), $size-22);
}
.profile__user-icon,
.profile__dog-delete-icon,
.profile__dog-edit-icon,
.profile__trail-delete-icon,
.profile__trail-icon,
.theme-toggle__content-icon,
.home-user__dog-edit-icon,
.admin__nav-icon,
.admin__users-icon,
.admin__dogs-icon,
.admin__trails-icon,
.admin__walks-icon,
.profile__walks-icon,
.walk-register__icon,
.trail__icon {
    @include icon(var(--accent), $size-22);
}

.theme-toggle__icon-on,
.theme-toggle__icon-off {
    width: $size-30;
}

.theme-toggle__icon-off {
    color: var(--toggle-off);
}

@media (min-width: $lg) {
    .profile__user-icon,
    .profile__dog-delete-icon,
    .profile__dog-edit-icon,
    .profile__trail-delete-icon,
    .profile__trail-icon,
    .home-user__dog-edit-icon,
    .admin__nav-icon,
    .admin__users-icon,
    .admin__dogs-icon,
    .admin__trails-icon,
    .admin__walks-icon,
    .profile__walks-icon,
    .walk-register__icon,
    .trail__icon {
        @include icon(var(--accent), $size-26);
    }

    .theme-toggle__content-icon {
        @include icon(var(--accent), $size-30);
    }

    .theme-toggle__icon-on,
    .theme-toggle__icon-off {
        width: $size-40;
    }
}
