@use "../utils/variables" as *;

:root {
    --background: #{$color-white};
    --background-secondary: #{$color-gray-100};
    --background-tertiary: #{$color-white};
    --background-footer: #{$color-accent};
    --background-button: #{$color-secondary};
    --background-button-hover: #{$color-secondary-dark-eco};
    --background-input: #{$color-gray-150};
    --border-color: #{$color-gray-175};
    --text-button: #{$color-white};
    --title: #{$color-secondary};
    --title-secondary: #{$color-accent};
    --text: #{$color-primary};
    --secondary: #{$color-secondary};
    --accent: #{$color-accent};
}
