@use "../utils/variables" as *;

.eco {
    --background: #{$color-gray-800};
    --background-secondary: #{$color-gray-700};
    --background-tertiary: #{$color-gray-500};
    --background-footer: #{$color-gray-900};
    --background-button: #{$color-secondary-dark-eco};
    --background-button-hover: #{$color-secondary};
    --background-input: #{$color-gray-500};
    --border-color: #{$color-gray-200};
    --text-button: #{$color-secondary-intense-eco};
    --title: #{$color-secondary};
    --text: #{$color-primary-eco};
    --secondary: #{$color-secondary-eco};
    --accent: #{$color-accent-eco};
}
