{% extends 'base.html.twig' %}

{% block title %}Edit WalkRegistration{% endblock %}

{% block body %}
    <h1>Edit WalkRegistration</h1>

    {{ include('walk_registration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_walk_registration_index') }}">back to list</a>

    {{ include('walk_registration/_delete_form.html.twig') }}
{% endblock %}
