@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.admin__users-table {
    overflow-x: auto;
}
.admin__users-table > table {
    min-width: 600px;
}
@media (max-width: 640px) {
    .table-scroll {
        -webkit-overflow-scrolling: touch;
    }
}

.admin {
    &__nav {
        width: 100%;
    }

    &__list {
        display: flex;
    }
}
