@use "../utils/variables" as *;

.home-guest {
    &__hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $size-28;
        padding-bottom: $size-32;
    }
    &__hero-img {
        width: 100%;
    }

    &__hero-subtitle {
        color: var(--title-secondary);
    }

    &__intro {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $size-12 $size-24;
    }
    &__intro-description {
        display: contents;
    }

    &__intro-content {
        padding: $size-32 0;
    }

    &__intro-content:nth-of-type(1),
    &__intro-content:nth-of-type(2) {
        order: 1;
    }
    &__intro-container {
        order: 2;
    }
    &__intro-content:nth-of-type(3) {
        order: 3;
    }
    &__intro-photo {
        order: 4;
        width: 100%;
        border-radius: $size-12;
    }
    &__intro-content:nth-of-type(4) {
        order: 5;
    }

    &__intro-container {
        display: flex;
        justify-content: center;
        gap: $size-12;
    }
    &__intro-img {
        width: 40%;
        object-fit: cover;
    }

    &__cta {
        display: flex;
        justify-content: center;
        padding: $size-28;
    }
}

.home-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $size-20 0;
    width: 100%;
    gap: $size-20;

    &__intro {
        background: center/cover no-repeat
            url("../images/photo-accueil-user.webp");
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-radius: $size-10;

        .home-user__intro-wrapper {
            width: 40%;
            background-color: rgba($color-white, 0.85);
            padding: $size-16;
            text-align: center;
        }
    }

    &__walk {
        background: var(--background-secondary);
        border-radius: $size-10;
        padding: $size-30 $size-10;
        width: 100%;
    }

    &__walk-title {
        padding: $size-20 $size-10;
    }

    &__dog {
        background: var(--background-secondary);
        border-radius: $size-10;
        padding: $size-40 $size-20;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $size-20;
        align-items: center;
    }

    &__dog-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: $size-10;
    }

    &__dog-photo-female {
        border: $size-8 solid var(--title-secondary);
        border-radius: 50%;
        padding: $size-8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__dog-photo-male {
        border: $size-8 solid var(--title);
        border-radius: 50%;
        padding: $size-8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__dog-photo {
        width: 100%;
        border-radius: 50%;
    }

    &__dog-name {
        font-weight: 800;
    }

    &__trail {
        background: var(--background-secondary);
        border-radius: $size-10;
        padding: $size-40 $size-10;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $size-30;
        align-items: center;
    }

    &__trail-wrapper {
        display: flex;
        flex-direction: column;
        gap: $size-20;
        align-items: center;
    }
    &__trail-search {
        width: 100%;
        background: var(--background);
        padding: $size-20 $size-10;
        border-radius: $size-10;
    }

    &__trail-search-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $size-32;
    }

    &__trail-search-item {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__trail-search--link {
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 600;
        color: var(--accent);
    }

    &__trail-search--advanced-button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: $size-20 0;
    }

    &__trail-search--results {
        display: flex;
        flex-direction: column;
        gap: $size-20;
        align-items: center;
    }

    &__trail-result-info {
        text-align: center;
    }

    &__trail-link {
        font-weight: 600;
        color: var(--accent);
        cursor: pointer;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .home-guest {
        // &__intro {
        // }
        &__intro-description {
            display: block;
        }

        &__intro-container {
            width: 100%;
            display: flex;
        }

        &__intro-img {
            width: 45%;
        }
        &__intro-content,
        &__intro-container,
        &__intro-photo {
            order: 0;
        }
    }
}
