@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-20;
    padding: $size-10;

    &__article {
        width: 100%;
        padding: $size-20 $size-10;
        background: var(--background-secondary);
        border-radius: $size-10;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: $size-10 0;

        p:nth-child(1) {
            font-weight: 600;
        }
    }
}
