@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.login {
    padding: $size-20;
    background: var(--background-secondary);

    &__form {
        display: flex;
        flex-direction: column;
        gap: $size-30;
        width: 100%;
        background: var(--background-tertiary);
        border-radius: $size-10;
    }

    &__form-info {
        text-align: center;
    }

    &__form-item--submit {
        align-self: center;
        padding: $size-30 0;
    }
}

@media (min-width: $md) {
    .login {
        display: flex;
        justify-content: center;

        &__form {
            width: 80%;
            padding: $size-40;
        }
    }
}

@media (min-width: $lg) {
    .login {
        &__form {
            width: 100%;
        }
    }
}
