@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.profile {
    @include infos-main($size-30);

    &__user {
        @include infos-desc;
        width: 100%;

        &-item {
            @include infos-item;
        }

        &-subtitle {
            @include infos-subtitle;
        }

        &-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: $size-10;
            padding: 0 $size-20;
        }
    }
    &__nav {
        width: 100%;
    }
    &__list {
        display: flex;
        align-items: center;
        width: 100%;
        gap: $size-10;
        justify-content: space-between;

        &-link {
            background: var(--background-tertiary);
            padding: $size-10 $size-20;
            border-radius: $size-10;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $size-10;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__dog {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $size-20;
        padding: $size-20;
    }

    &__trails {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $size-20;
        padding: $size-20;
    }
    &__walks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $size-20;
        padding: $size-20;
        width: 100%;

        &-accent {
            font-weight: 600;
            color: var(--accent);
        }
    }
}

@media (min-width: $md) {
    .profile {
        padding: 0 $size-20;
        &__user {
            max-width: 90%;
        }

        &__list {
            justify-content: space-evenly;
        }

        &__dog {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-evenly;

            &-card {
                flex: 0 0 30%;
                align-items: center;
            }

            &-content {
                text-align: center;
            }
        }

        &__trails {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-evenly;
        }
        &__trail-card {
            flex: 0 0 45%;
            align-items: center;
        }

        &__walks {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-evenly;

            &-card {
                flex: 0 0 40%;
            }
        }
    }
}
@media (min-width: $lg) {
    .profile {
        padding: 0 $size-20;
        &__user {
            max-width: 70%;
        }

        &__list {
            justify-content: space-evenly;
        }

        &__dog {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-evenly;

            &-card {
                flex: 0 0 30%;
                align-items: center;
            }

            &-content {
                text-align: center;
            }
        }

        &__trails {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: $size-30 0;
            gap: $size-10;
        }
        &__trail-card {
            flex: 0 0 20%;
            align-items: center;
        }

        &__trail-description {
            width: 100%;
            font-size: $size-14;
        }

        &__walks {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-evenly;

            &-card {
                flex: 0 0 40%;
            }
        }
    }
}
