@use "../utils/variables" as *;

.register {
    display: flex;
    flex-direction: column;
    gap: $size-30;
    padding: $size-20 0;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 $size-6;

        form {
            width: 100%;
        }
    }

    &__form-item {
        justify-content: center;
    }

    &__form-item--terms {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;

        .register__form-label {
            width: 80%;
        }
        .register__form-input {
            width: 20%;
        }
        .register__form-error {
            text-align: center;
        }
    }

    &__form-item--submit {
        justify-self: center;
        padding: $size-30 0;
    }
}
