@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.register {
    display: flex;
    flex-direction: column;
    gap: $size-30;
    padding: $size-20 0;
    background: var(--background-secondary);

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 $size-6;
        background: var(--background-tertiary);
        border-radius: $size-10;

        form {
            width: 100%;
        }
    }

    &__form-item {
        justify-content: flex-start;
    }
    &__form-label {
        width: 30%;
    }
    &__form-input {
        width: 65%;
        display: inline-block;
    }
    &__form-error {
        text-align: center;
    }

    &__form-item--terms {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        .register__form-label {
            width: 80%;
        }
        .register__form-input {
            width: 20%;
        }
        .register__form-error {
            text-align: center;
        }
    }
    &__form-item--submit {
        justify-self: center;
        padding: $size-30 0;
    }
}

@media (min-width: $md) {
    .register {
        display: flex;
        align-items: center;

        &__form {
            width: 80%;
            padding: $size-40;
        }
    }
}

@media (min-width: $lg) {
    .register {
        &__form {
            width: 70%;
        }
        &__form-item--terms {
            .register__form-label {
                width: 50%;
            }
            .register__form-input {
                width: 45%;
            }
            .register__form-error {
                text-align: center;
            }
        }
    }
}
