@use "../utils/variables" as *;

.walk-register {
    background: var(--background-secondary);
    border-radius: $size-10;
    padding: $size-20 $size-10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-10;

    &__title {
        padding: $size-30 0;
    }

    &__desc {
        background: var(--background-tertiary);
        padding: $size-20 $size-10;
        display: flex;
        flex-direction: column;
        gap: $size-30;
        border-radius: $size-10;
    }

    &__desc-item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__desc-title {
        color: var(--accent);
        font-weight: 600;
    }

    &__button {
        align-self: center;
        margin: $size-10 0;
    }
}
