@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/breakpoints" as *;

.walk-register,
.add-walk {
    @include infos-main;

    &__desc {
        @include infos-desc;
    }

    &__desc-item {
        @include infos-item;
    }

    &__desc-title {
        color: var(--accent);
        font-weight: 600;
    }

    &__desc-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: $size-10;
    }

    &__desc-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $size-8;
        width: 35%;
    }

    &__desc-more {
        display: flex;
        flex-direction: column;
        gap: $size-10;
    }
    &__desc-link {
        font-weight: 600;
        text-decoration: underline;
        color: var(--title);
    }

    &__desc-infos {
        font-style: italic;
    }

    &__button {
        align-self: center;
        margin: $size-10 0;
    }
}

@media (min-width: $md) {
    .walk-register,
    .add-walk {
        @include infos-main;

        &__desc {
            @include infos-desc;
        }

        &__desc-container {
            width: 15%;
        }
    }
}
