@use "../utils/variables" as *;

.site-footer {
    width: 100%;
    background-color: var(--backgroundFooter);
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-7;
    margin-top: auto;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: $space-6 $space-3;
    }

    &__logo-img {
        width: 5.625rem;
    }

    &__legal {
        padding: $space-8 0;
    }
}
