@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.site-footer {
    width: 100%;
    background-color: var(--background-footer);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-28;
    margin-top: auto;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: $size-24 $size-12;
    }

    &__link {
        color: white;
    }

    &__logo-img {
        width: 5.625rem;
    }

    &__legal {
        padding: $size-32 0;
        color: white;
        text-align: center;
    }
}

@media (min-width: $md) {
    .site-footer {
        &__container {
            justify-content: center;
            gap: $size-24;
            align-items: flex-end;
        }

        &__logo-img {
            width: 6.5rem;
        }

        &__menu {
            display: flex;
            flex-direction: column;
            gap: $size-6;
            font-weight: 600;
        }
    }
}
