@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.site-header {
    height: 5rem;
    width: 100%;
    box-shadow: 0 0 10px $color-gray-200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $size-24;
    padding: $size-12 $size-24;

    &__brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }
    &__logo-img-inline {
        display: block;
        width: 6rem;
    }
    &__logo-img-block {
        display: none;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__tagline,
    &__tagline-end {
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 1rem;
        color: $color-secondary;
        text-align: center;
    }

    &__tagline-end {
        color: $color-accent;
    }

    &__container {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $size-6;
        z-index: 100;
    }

    &__nav {
        position: absolute;
        top: 5rem;
        right: 0;
        background-color: white;
        padding: $size-12;
        border-radius: 0 0 0 $size-10;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: $size-10;
        text-align: end;
    }

    &__link:focus {
        color: var(--title);
    }

    &__link:hover {
        color: var(--accent);
    }

    &__burger {
        width: $size-30;
        height: $size-30;
        display: block;
        color: var(--accent);
        cursor: pointer;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: $size-10;
    }
}

@media (min-width: $md) {
    .site-header {
        height: 6rem;
        padding: $size-10 $size-20;

        &__container {
            display: flex;
            flex-direction: column;
            width: auto;
            justify-content: flex-end;
            align-items: flex-end;
            align-self: flex-end;
            gap: $size-6;
            padding: 0;
        }

        &__brand {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: $size-4;
            height: 100%;
        }

        &__wrapper {
            flex-direction: column;
            gap: $size-4;
            justify-content: flex-start;
            width: auto;
        }

        &__logo {
            width: auto;
            padding-top: $size-10;
            padding-bottom: $size-20;
        }

        &__logo-img-inline {
            display: none;
        }
        &__logo-img-block {
            display: block;
            width: 5rem;
        }

        &__nav {
            position: static;
            background-color: none;
            padding: 0;
            border-radius: 0;
        }

        &__menu {
            flex-direction: row;
            gap: $size-14;
            font-weight: 600;
        }

        &__burger {
            display: none;
        }
        &__toggle {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .site-header__nav.hidden {
        display: block;
    }
}
@media (min-width: $lg) {
    .site-header {
        height: 9rem;

        &__container {
            width: 60%;
            justify-content: flex-end;
            align-items: flex-end;
            align-self: stretch;
            gap: $size-10;
        }

        &__nav {
            padding: $size-10 0;
        }

        &__brand {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        &__wrapper {
            flex-direction: row;
        }

        &__logo {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
