@use "../utils/variables" as *;
@use "../utils/breakpoints" as *;

.site-header {
    height: 5rem;
    width: 100%;
    box-shadow: 0 0 10px $color-gray-200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $size-12 $size-24;

    &__brand {
        display: flex;
        align-items: center;
        gap: $size-12;
        flex: 1 1 auto;
        min-width: 0;
    }

    &__logo-img {
        width: 6rem;
    }

    &__tagline {
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 1rem;
        color: $color-secondary;
        text-align: center;
    }

    &__tagline-end {
        color: $color-accent;
    }

    &__container {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: $size-6;
        z-index: 100;
    }

    &__nav {
        position: absolute;
        top: 5rem;
        right: 0;
        background-color: white;
        padding: $size-12;
        border-radius: 0 0 0 $size-10;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: $size-10;
        text-align: end;
    }

    &__burger {
        width: $size-30;
        height: $size-30;
        display: block;
        color: var(--accent);
        cursor: pointer;
    }
}

@media (min-width: $md) {
    .site-header {
        &__container {
            display: block;
            width: auto;
        }

        &__brand {
            min-width: 30%;
            width: 30%;
        }

        &__menu {
            display: flex;
            gap: $size-10;
        }
    }

    .site-header .hidden {
        display: block;
    }
}
