@use "../utils/variables" as *;

.site-header {
    height: 5rem;
    width: 100%;
    box-shadow: 0 0 10px $color-gray-200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $size-12 $size-24;

    &__brand {
        display: flex;
        min-width: 80%;
        align-items: center;
        gap: $size-12;
    }

    &__logo-img {
        width: 6rem;
    }

    &__tagline {
        font-family: "Fredoka";
        font-weight: 600;
        font-size: 1rem;
        color: $color-secondary;
        text-align: center;
    }

    &__tagline-end {
        color: $color-accent;
    }

    &__container {
        display: none;
    }
}
