<form method="post" action="{{ path('app_dog_delete', {'id': dog.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dog.id) }}">
    <button class="btn">{{ ux_icon('streamline-ultimate:bin-1-bold', {class: 'profile__button'}) }}</button>
</form>
