<div class="add-dog__form">
{{ form_start(form) }}

<div class="add-dog__item">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>